.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

table,
td,
th {
  border: 1px solid darkred;
}

tr {
  border: 1px solid black;
}

#error {
  opacity: 0;
}

#error p {
  padding: 0.3rem;
  background: red;
  color: white;
  border-radius: 0.2rem;
}

/* #resultRecord tr {
  opacity: 0;
} */
